.header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .5px 2px rgb(0 0 0 / 0.2);
  margin-bottom: 1.5rem;
  

  .logo,
  .activity {
    width: 15%;
  }

  .title {
    text-align: center;
    width: 70%;
    font-size: 1.3rem;
    color: #3669C9;
    font-weight: bold;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 40px;

  }

  .activity {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: 47rem){
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #ffff;
  }
}


.container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 40px;

}