.header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .5px 2px rgb(0 0 0 / 0.2);
  margin-bottom: 1.5rem;

  .logo,
  .activity {
    width: 25%;
  }

  .title {
    text-align: center;
    width: 50%;
    font-size: 1.3rem;
    color: #3669C9;

  }

  .activity{
      display: flex;
      justify-content: flex-end;
  }
}

.search-bar{
    box-shadow: none !important;
    background: #f6f5f5 !important;
}