.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 90%;
  padding: 0.6rem 0;
  cursor: pointer;
  transition: all 0.5s;

  .image-container {
    padding: 1rem;
  }

  //height: 75px;
  .title,
  .subtitle,
  .price {
    margin-left: 0.7rem;
  }

  .title {
    font-size: 1.1rem;
    font-weight: 600;

    @media (max-width: 25rem) {
      font-size: 0.9rem;
    }
  }

  .subtitle {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    color: #0000009f;
    @media (max-width: 25rem) {
      font-size: 0.7rem;
    }
  }

  .price {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    @media (max-width: 25rem) {
      font-size: 0.9rem;
    }
  }

  @media (min-width: 35rem) {
    margin: 0 1.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  @media (min-width: 62rem) {
    min-width: 13rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  z-index: 100;

  .star {
    margin: 0 !important;
    font-size: 1.4rem;

    @media (max-width: 25rem) {
      font-size: 1.1rem;
    }

    @media (max-width: 21rem) {
      font-size: 0.8rem;
    }
  }

  .heart {
    color: #3669c9;
    cursor: pointer;
    //transition: all .3s;

    @media (max-width: 25rem) {
      font-size: 1.3rem;
    }

    @media (max-width: 21rem) {
      font-size: 1.1rem;
    }
  }
}
