<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="background-color: #4f87f0; width:70%; margin:auto; border-radius:10rem;"
  >
    <main style="text-align: center; background-color: white; width:70%; padding-top: 2rem; margin: auto; margin-top: 2rem;border-radius: 1rem; display: flex; flex-direction: column;">
      <img src="" alt="il nostro logo">
      <h1>Welcome Username</h1>
      <h2>Registration completed</h2>
      Stelline che poi cerco
      <h4 style="font-weight: 100;">Thanks so much for joining Our Site! <br>
        Your username is: TestUser
      </h4>
      <h3 style="font-weight: 200; margin-left: 1rem; margin-right: 1rem;">TO FINISH SIGNING UP AND ACTIVATE YOUR ACCOUNT
        YOU JUST NEED TO SET YOUR PASSWORD</h3>
      <button style="border-radius: 1rem; background-color: #4f87f0; color: white; width: 20%; margin: auto;">SHOP NOW</button>

      <br>
      <br>
      <div style="background-color: #1f2227; border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem;">
        cdsa
      </div>


    </main>
  </body>
</html>