.select-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

}

.container{
    width: 80%;
    margin: auto;
    max-width: 35rem;
}

.title{
    margin: 2rem 0;
    text-align: center;
    color: #3669c9;
}