.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 6rem;
  width: 70%;
  max-width: 35rem;

  .title {
    text-align: center;

    span {
      color: #3669c9;
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;

    .msg-error {
      color: #cc0000;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  .input {
    width: 100%;
    margin: 1rem 0;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.desktop {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4rem 3rem;
  border-radius: 12px;
  position: relative;
}

.bottom-text {
  color: #3669c9;
  font-size: 0.8rem;

  &:hover {
    color: #254b92;
    font-weight: 500;
  }
}

.button {
  width: 50%;

  margin: 1rem;
}

.arrow-container {

  margin-top: 1rem;
  margin-left: 1rem;


  .arrow {

    color: #3669c9;
    font-size: 2rem;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {

      color: #254b92;
    }
  }

}