.arrow-container {

    margin-top: 1rem;
    margin-left: 1rem;
  
  
    .arrow {
  
      color: #3669c9;
      font-size: 2rem;
      transition: all 0.2s;
      cursor: pointer;
  
      &:hover {
  
        color: #254b92;
      }
    }
  
  }