.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    font-size: 1.2rem;
    font-weight: 500;
    @media (min-width: 47rem) {
      font-size: 1.5rem;
    }
  }

  .subtext {
    color: #3669C9;
    font-weight: 500;
    cursor: pointer;
  }

  .subtext:hover {
    font-weight: 600;

  }
}


.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background: #ffff;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0;

  .modal-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .category{
      flex: 0 0 33%;
    }

    .container{
      margin: 0 .5rem;
      margin-top: .5rem;
      
    }
  }

}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: .5rem;
  gap: .3rem;
  .container{
    flex: 0 0 auto;
    margin-left: .3rem;

  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width:35rem) {
    justify-content: center;
  }
}

.icon {
  width: 2.2rem !important;
  height: 2.2rem !important; 


  @media (min-width: 40rem){
    width: 2.6rem !important;
    height: 2.6rem !important;
  }


}