.button {
  padding: 0.7rem 1rem !important;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #3669c9;
  font-weight: bold;
  color: white;
  cursor: pointer;



  &:hover {
    background-color: #4f87f0;
  }
}
