.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  max-width: 260px;
  .heart {
    font-size: 2rem !important;
    color: #3669c9;
  }

  .btn {
   
    border-radius: 8px;
    background-color: #3669c9;
    color: white;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    text-align: center;
    display: block;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #34599d;
    }
  }
}

.qnt-container {
  display: flex;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;

  .qnt-icon-container {
    border: 1px solid #bababa !important;
    border-radius: 13px !important;
    .qnt-icon {
      font-size: 1.2rem !important;
    }
  }
}

.heart-btn-container{
  display: flex;
  width: 100%;
  gap: 1rem;
}