.image-container {
  max-width: 500px;
  margin: auto;
  position: relative;
  width: 100%;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-container {
  display: flex;
  flex-direction: column;
  @media (min-width: 62rem) {
    flex-direction: row;

    justify-content: space-between;
  }
}

.product {
  @media (min-width: 62rem) {
    margin-top: 6rem;
    width: 50%;
  }
}

.main {
  margin: 5rem auto;

  @media (min-width: 87rem) {
    width: 90% !important;
  }

  @media (min-width: 103rem) {
    width: 75% !important;
  }
}

.container,
.top-container {
  margin: 2rem auto;
  width: 90%;

  .price-rating-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    .price {
      font-weight: 600;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      font-weight: 500;

      .rating-number {
        display: flex;
        align-items: center;
        gap: 0.4rem;
      }
    }
  }

  .rating-container {
    margin-top: 2rem;
    .rating-number {
      display: flex;
      justify-content: space-between;

      .rating-left {
        font-weight: 600;
        margin-left: 5px;
      }
    }
    .text,
    .title {
      margin-left: 5px;
    }
    .rating {
      margin-top: 0.2rem;
      margin-bottom: 0.3rem;
    }
    .review {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .subtitle {
        font-size: 1.1rem;
        font-weight: 600;
        margin-left: 5px;
      }

      &:first {
        margin-top: 1rem !important;
      }
    }
  }
}

.container {
  margin-bottom: 14rem;
}

.top-container {
  margin-top: 0;
}

.rating-average {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-weight: 500;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1.2rem 0;
  background-color: #ffffff;
  justify-content: center;
  gap: 2rem;
}

.loading {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.my-reviw-container {
  display: flex;

  .review {
    width: 90%;
  }
  .icon-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.delete-icon {
  color: #b8222f;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;

  .backArrow {
    margin: 0;
  }

  .cart {
    font-size: 2rem;
    color: black;
  }
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.20);
  }
  100% {
    transform: scale(1);
  }
}
