.container {
  margin: 2rem 0;

  .text {
    font-size: 1.2rem;
    font-weight: 500;

    @media (min-width: 47rem) {
      font-size: 1.5rem;
    }
  }

  .best-seller {
    // max-height: 20rem;
    min-height: 12rem;
    height: 12.5rem;

    display: flex;
    background-color: #3669c9;

    margin-top: 2rem;
    border-radius: 16px;

    .title-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      align-items: center;

      .subtitle-container {
        display: flex;
        align-items: center;
        margin-top: 0.4rem;
        gap: 0.5rem;
        cursor: pointer;

        .arrowIcon {
          color: #ffffff80;
          font-size: 1.7rem;
          transition: all 0.3s;
        }

        &:hover {
          .subtitle,
          .arrowIcon {
            color: white;
          }
        }
      }

      .title {
        color: #ffff;
        font-weight: bold;
        margin-bottom: 0.4rem;

        @media (min-width: 47rem) {
          font-size: 1.5rem;
        }
      }

      .subtitle {
        transition: all 0.3s;

        font-weight: bold;

        color: #ffffff80;

        @media (min-width: 47rem) {
          font-size: 1.2rem;
        }
      }
    }

    @media (min-width: 50rem) {
      height: 15.625rem;
    }

    @media (min-width: 60rem) {
      height: 18.75rem;
    }

    @media (min-width: 70rem) {
      height: 21.875rem;
    }

    @media (min-width: 80rem) {
      height: 25rem;
    }
  }
}

.card-desktop {
  &:hover {
    transform: scale(1.1);
  }
}

.photo-container {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  > span {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .photo {
    width: 80% !important;
    height: 80% !important;
    min-width: 0 !important;
    min-height: 0 !important;
    max-width: 17rem !important;
    max-height: 17rem !important;
    cursor: pointer;
    //height: 100%;
    position: relative !important;
    //object-fit: cover; // Optional
  }
}
