.container {
  margin-top: 2rem;
  margin-bottom: 6rem;

  .text {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .best-seller {
    max-height: 20rem;
    min-height: 12rem;

    display: flex;
    background-color: #3669c9;

    margin-top: 2rem;
    border-radius: 16px;

    .title-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      align-items: center;
      .title {
        color: #ffff;
        font-weight: bold;
      }
      .subtitle {
          margin-top: .8rem;
        font-weight: bold;

        color: rgba(255, 255, 255, 0.5);
      }
    }
    .photo {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 4rem;
  
    
    .card {
      flex: 0 0 auto;
      margin-left: 1rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      
      //height: 75px;


      .title{
        margin-top: .8rem;
        margin-bottom: .3rem;
        margin-left: .5rem;
        font-size: 1.3rem;
        font-weight: 600;
      }
      .price{
        font-size: 1.1rem;
        font-weight: 600;
      }
      .price, .review{
        margin: .3rem .5rem;
      }
  
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

}




