.container {
  margin-top: 2rem;
  margin-bottom: 6rem;

  .text {
    font-size: 1.2rem;
    font-weight: 500;
    @media (min-width: 47rem) {
      font-size: 1.5rem;
    }
  }
  .best-seller {
   // max-height: 20rem;
    min-height: 12rem;
    height: 12.5rem;

    display: flex;
    background-color: #3669c9;

    margin-top: 2rem;
    border-radius: 16px;

    .title-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      align-items: center;
      .title {
        color: #ffff;
        font-weight: bold;
        margin-bottom: .4rem;
        @media (min-width: 47rem) {
          font-size: 1.5rem;
        }

      }
      .subtitle {
          margin-top: .4rem;
        font-weight: bold;

        color: rgba(255, 255, 255, 0.5);
        @media (min-width: 47rem) {
          font-size: 1.2rem;
        }
      }
    }
    .photo-container {
      width: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      >span{
        display: flex !important;
        justify-content: center;
        align-items: center;
      }
 

      .photo{
        width: 80% !important;
        height: 80% !important;
        min-width: 0 !important;
        min-height: 0 !important;
        max-width: 17rem !important;
        max-height: 17rem !important;
        //height: 100%;
        position: relative !important;
        //object-fit: cover; // Optional
      }
    }
    @media (min-width: 50rem) {
      height: 15.625rem;
 
    }
 
    @media (min-width: 60rem) {
      height: 18.75rem;
 
    }
 
    @media (min-width: 70rem) {
      height: 21.875rem;
 
    }
 
    @media (min-width: 80rem) {
      height: 25rem;
 
    }
  }

  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 4rem;
    padding: 2rem 0;
    
    .card {
      flex: 0 0 auto;
      margin-left: 1rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      
      
      //height: 75px;

      .title{
        margin-top: .8rem;
        margin-bottom: .3rem;
        margin-left: .5rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
      .price{
        font-size: 1rem;
        font-weight: 600;
      }
      .price, .review, .star{
        margin: .7rem .5rem;
      }

      .star{
        margin-top: 0;
        font-size: 1.7rem;
      }
  
      @media (min-width:35rem) {
        margin: 0 1.5rem;
      }
  
    }
    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width:35rem) {
      justify-content: center;
    }

  }

}




