.body {
  display: flex;
  margin: auto;
  margin-top: 7rem;
  width: 95%;
  max-width: 110rem;
  margin-bottom: 7rem;

  .filter-container {
    width: 20%;
    border-right: 2px solid rgba(0, 0, 0, 0.12);
    padding-right: 1rem;

    .price-container {
      display: flex;
      gap: 1rem;

      @media (max-width: 62.5rem) {
        flex-direction: column;
      }
    }
  }
  .products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin-bottom: 2rem;
      max-width: 17rem;
      width: 20%;

      &:hover {
        transform: scale(1.05);
      }

      @media (max-width: 75rem) {
        width: 25%;
      }

      @media (max-width: 47rem) {
        margin: 0.5rem;
        width: 30%;
      }

      @media (max-width: 35rem) {
        width: 40%;
      }
    }
  }
}

.title {
  margin-bottom: 1rem;
  color: #3669c9;
}

.radio {
  width: 100%;
  justify-content: space-between;
  margin: 0;
  @media (max-width: 25rem){
    height: 26px;

    span{
      font-size: 1rem;
    }
  }

}

.btn {
  padding: 0.5rem 1rem;
  width: 50%;
  max-width: 7rem;
  justify-content: center;
  display: flex;
  margin: 2rem auto;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  border: 1px solid #b8222f;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    font-weight: bold;
    color: white;
    background-color: #b8222f;
  }
}

.nothing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  .text {
    font-size: 1.4rem;
    font-weight: 500;
    color: #3669c9;
  }

  .icon {
    font-size: 3rem;
    font-weight: 500;
    color: #3669c9;
  }
}

.loading {
  margin-top: 3rem;
}

.modal-btn {
  text-align: center;
  width: 50%;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem 0;
  border-radius: 12px;
}

.modal {
  background: white;
  border: none;
  padding: 2rem;

  outline: none;
  width: 80%;
  margin: auto;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabs {
  div {
    justify-content: center;
  }
}

.price-container-mobile {
  display: flex;
  gap: 2rem;
}

.btn-container {
  display: flex;

  .btn-apply {
    width: 40%;
    padding: 0.5rem 1rem;
    max-width: 7rem;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    margin: 2rem auto;
    border: none;
    background-color: transparent;
    background-color: #3669c9;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
  }
}
