.container {
    margin-bottom: 6rem;

    .category-container {
        margin-top: 2rem;
    }

    .scrolling-wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-top: .5rem;
        padding: 2rem 0;
        gap: 2rem;

        &::-webkit-scrollbar {
            display: none;
        }




        @media (min-width:78rem) {
            justify-content: center;
        }
    }

    .text {
        font-size: 1.2rem;
        font-weight: 500;

        @media (min-width: 47rem) {
            font-size: 1.5rem;
        }
    }

}