 .carousel {
   display: flex;
   justify-content: center;
   margin-top: 3rem;
   height: 12.5rem;

   @media (min-width: 50rem) {
     height: 15.625rem;

   }

   @media (min-width: 60rem) {
     height: 18.75rem;

   }

   @media (min-width: 70rem) {
     height: 21.875rem;

   }

   @media (min-width: 80rem) {
     height: 25rem;

   }

 }

 .container {

   height: 100%;
   background-size: cover;
   background-position: right;

   .left-item {
     border-radius: 0 25% 25% 0;
   }

   .right-item {
     border-radius: 25% 0 0 25%;
   }


   .left-item,
   .right-item {
     height: 100%;
     width: 65%;
     background: #3669C9;


     display: flex;
     justify-content: center;
     align-items: center;

     .text {
       color: white;
     }
   }


 }

 .left-container {
   display: flex;
   justify-content: flex-end;
 }