.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;

  @media (max-width: 62rem) {
    width: 90%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

 

  .review-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    max-width: 600px;

    .title {
      color: #3669c9;
      text-align: center;
    }
    .textfield {
      width: 70%;
    }
    .textarea {
      width: 100%;
    }
  }

  .bottom-btn-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-top: 3rem;
    justify-content: center;
    .close-btn,
    .send-btn {
      width: 40%;
      height: 55px;
      padding: 0  !important;
      max-width: 155px;
    }
    .close-btn {
      border-color: #b8222f;
      color: #b8222f;

      &:hover {
        background-color: #b8222f;
        color: #ffffff;
      }
    }
  }
}

.error {
  color: #b8222f;
}

.rating{
  font-size: 2rem;
}