@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/*
BLue color: #3669c9
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.carousel {
  border-radius: 14px;

  max-width: 1200px;
}

.slider-wrapper,
.slider {
  height: 100%;
}
a {
  text-decoration: none;
}

